@import "../../asset/scss/_variable.scss";

.home-page {
	.nav-group {
		padding: 20px 0;
		.nav {
			width: 25%;
			display: inline-block;
			padding: 10px 0;
			box-sizing: border-box;
			border: 1px solid #ffffff;
			.icon {
				margin: 0 auto 8px;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				background: url("../../asset/images/icon_yearEndBonus.png") no-repeat #eeeeee;
				background-size: cover;
				&-yearEndBonus {
					background-image: url("../../asset/images/icon_yearEndBonus.png");
				}
				&-fiveInsurance {
					background-image: url("../../asset/images/icon_fiveInsurance.png");
				}
				&-PIT2019 {
					background-image: url("../../asset/images/icon_PIT2019.png");
				}
			}
			p {
				text-align: center;
				line-height: 16px;
				font-size: 13px;
			}
		}
	}
}
