@import "../../asset/scss/_variable.scss";

.home-page {
	.nav-group {
		.nav {
			width: 25%;
			display: inline-block;
			padding: 10px 0;
			box-sizing: border-box;
			border: 1px solid #ffffff;
			.icon {
				margin: 0 auto 8px;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				background: url("../../asset/images/icon_yearEndBonus.png") no-repeat #eee;
				background-size: cover;
			}
			p {
				text-align: center;
				line-height: 13px;
				font-size: 13px;
			}
		}
	}
}
