@import "../../asset/scss/_variable.scss";

.page-year-end-bouns {
	width: 100%;
	.tax-detail {
		padding: 20px;
		background-color: #f2f2f2;
		h6 {
			font-size: 14px;
			color: #444444;
			margin: 0 0 10px;
		}
		p {
			font-size: 14px;
			font-weight: 400;
			color: #888888;
			margin: 0;
			line-height: 1.4;
			strong {
				color: #444444;
			}
		}
	}

}
